<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Atomize IO</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>

        <% include header %>

        <h2>Top 25 websites (Global)</h2>
        <div>
            <ul>
                <li><a href="/google.com">Google</a></li>
                <li><a href="/facebook.com">Facebook</a></li>
                <li><a href="/youtube.com">YouTube</a></li>
                <li><a href="/yahoo.com">Yahoo</a></li>
                <li><a href="/amazon.com">Amazon</a></li>
                <li><a href="/wikipedia.org">Wikipedia</a></li>
                <li><a href="/twitter.com">Twitter</a></li>
                <li><a href="/linkedin.com">Linkedin</a></li>
                <li><a href="/bing.com">Bing</a></li>
                <li><a href="/ebay.com">Ebay</a></li>
                <li><a href="/netflix.com">Netflix</a></li>
                <li><a href="/reddit.com">Reddit</a></li>
                <li><a href="/paypal.com">PayPal</a></li>
                <li><a href="/microsoft.com">Microsoft</a></li>
                <li><a href="/wordpress.com">Wordpress</a></li>
                <li><a href="/imdb.com">IMDB</a></li>
                <li><a href="/aliexpress.com">AliExpress</a></li>
                <li><a href="/ask.com">Ask</a></li>
                <li><a href="/apple.com">Apple</a></li>
                <li><a href="/alibaba.com">Alibaba</a></li>
                <li><a href="/pornhub.com">Pornhub</a></li>
                <li><a href="/github.com">Github</a></li>
                <li><a href="/adobe.com">Adobe</a></li>
                <li><a href="/flipkart.com">Flipkart</a></li>
                <li><a href="/dropbox.com">Dropbox</a></li>
            </ul>
        </div>

        <% include footer %>
    </body>
</html>
