<!--<header>

    <h2 style="border-bottom: 1px solid #ccc;line-height:1.75">Atomize <span style="background: black; color: white; padding: .25em;">IO</span></h2>
    <p style="line-height: 2">Atomize your website to check how much you can benefit by adopting <a href="http://acss.io/">Atomic CSS</a>. Suffix the URL in the address bar with the domain name and press ENTER.</p>
</header>-->

<div class="window browser fading" style="margin-bottom:5em;">
  <div class="header">
    <span class="bullet bullet-red"></span><span class="bullet bullet-yellow"></span><span class="bullet bullet-green"></span><span class="title"><span class="scheme">https://</span>atomize-io.herokuapp.com<span style="background-color: gold">/<%= title %></span></span>
  </div>
  <p style="line-height:2.5">
      Append the domain name to the URL in the address bar. Press <strong>Enter</strong> to see how much the website can benfit by adopting <a href="//acss.io">Atomic CSS</a>. <!--Read the blog post to understand <a href="/">how it works</a>.-->
  </p>

</div>
